body {
  height: 100%;
  overflow: hidden;
}

.message-alert {
  position: fixed;
  top:80px;
  left:0;
  width: 100%;
  z-index: 997;
}
.message-alert .show {
  opacity: 1;
}

.message-alert__box {
  padding: 1.5rem 1rem;
  transition: ease 400ms all;
  margin:0 1rem;
  border-radius: 10px;
  font-size: .9rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(4px);
  opacity: 0;
}
.message-alert__box span{
  margin-left: 1rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: bold;
}
.message-alert__box svg:nth-child(1){
  fill: var(--red);
}
.message-alert__box svg:nth-child(2){
  fill: #4c84ff;
}
.message-alert .success svg:nth-child(1){
  display: none;
}
.message-alert .failed svg:nth-child(2) {
  display: none;
}

.timer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.timer-nav__home-icon {
  width: 60px;
  height: 60px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.timer-nav__header__span {
  padding: 5px 4rem;
  background-color: #4c84ff;
  border-radius: 999px;
}

.timer-nav__menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
.timer-nav__menu-icon {
  position: relative;
  cursor: pointer;
}
.timer-nav__menu-icon span {
  display: inline-block;
  width: 20px;
  height: 2px;
}
.timer-nav__menu-icon::after,
.timer-nav__menu-icon::before {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.timer-nav__menu-icon::after {
  top: 38%;
}
.timer-nav__menu-icon::before {
  top: 62%;
}

.menu-block {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  backdrop-filter: blur(4px);
  z-index: 998;
  transition: ease transform 300ms;
}
.close {
  transform: translateY(-100%);
}
.menu-block ul li {
  padding: 0 1rem;
  height: 50px;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.menu-block__line {
  width: 2px;
  height: 50px;
  background-color: #4c84ff;
  position: absolute;
  top: 0;
  left: -2px;
}

main {
  position: absolute;
  top:60px;
  left:0;
  height: calc(100% - 60px);
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  transition: ease 300ms all;
  transform: scale(0.95);
}
.focus {
  transform: scale(1);
}

.editor iframe{
  height: 100%;
  border-radius: 10px;
}

.editor iframe::-webkit-scrollbar{
  width: 10px;
}
.editor iframe::-webkit-scrollbar-thumb {
  background-color: var(--black);
}
.editor iframe::-webkit-scrollbar-track {
  background-color: transparent;
}

.editor__header-container{
  margin-bottom: 2rem;
  font-size: 1rem;
}
.editor__buttons-container{
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
.editor__buttons-container button {
  border: none;
  padding: 9px 28px;
  border-radius: 5px;
  color: var(--white);
  font-size: .6rem;
}
.editor__buttons-container button:nth-child(1) {
  background-color: #4c84ff;
  margin-right: .5rem;
}
.editor__buttons-container button:nth-child(2) {
  background-color: var(--red);
}

.timer-block {
  flex-grow: 1;
  background-color: var(--light-inner-background);
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.timer-block__timer {
  position: relative;
  color: #4c84ff;
  margin-bottom: 2rem;
}
.timer-block__timer__current-time {
  width: 100%;
  font-weight: bold;
  font-size: .9rem;  
}
.timer-block__timer__current-time > span {
  color: var(--red2);
}
.timer-block__timer__current-time > b {
  animation: blink linear infinite 1s;
}




@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1;}
}
.timer-block__timer__hour-min {
  display: flex;
  position: relative;
  align-items: center;
}
.timer-block__timer__hour-min > b {
  font-size: 2rem;
}
.timer-block__timer__hour-min .item {
  position: relative;
  margin: 0 6px;
}
.timer-block__timer__hour-min span:nth-child(1) {
  font-size: 4.5rem;
}
.timer-block__timer__hour-min span:nth-child(2) {
  position: absolute;
  font-size: 0.9rem;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(70%);
}
.timer-block__timer__hour-min .sec {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
}

/* timer-block__button-container */
.timer-block__button-container {
  display: flex;
}
.timer-block__button-container li {
  margin: 0 0.5rem;
}
.button-container_start-pause,
.button-container_stop {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.button-container_start-pause:active {
  background-color: #4c84ff;
}
.button-container_start-pause:active svg {
  stroke: #f5f6fa;
}
.button-container_stop:active {
  background-color: var(--red2);
}
.button-container_stop {
  background-color: var(--red);
}
.button-container_start-pause svg,
.button-container_stop svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-container_start-pause svg {
  stroke: #4c84ff;
}
.mode-start svg {
  left: 55%;
}
.mode-start svg:nth-child(2) {
  display: none;
}
.mode-pause {
  background-color: #4c84ff;
}
.mode-pause:active {
  background-color: #3374ff;
}
.mode-pause svg {
  stroke: #f5f6fa;
}
.mode-pause svg:nth-child(1) {
  display: none;
}
/* timer-block__button-container */

.pause-note {
  background-color: var(--light-inner-background);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pause-note__time {
  display: inline-block;
  width: 100%;
  color: var(--red);
  font-weight: bold;
}
.pause-note svg {
  width: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background);
    color: var(--light-background);
  }
  main {
    background-color: var(--dark-background);
  }

  .message-alert__box {
    background-color: rgba(14, 14, 14, 0.5);
  }


  .timer-nav {
    background-color: var(--dark-inner-background);
  }

  .timer-nav__home-icon:hover {
    background-color: #4c84ff;
  }
  .timer-nav__home-icon:hover svg {
    fill: var(--light-background);
  }

  .timer-nav__menu-icon span,
  .timer-nav__menu-icon::after,
  .timer-nav__menu-icon::before {
    background-color: var(--light-background);
  }
  .timer-nav__menu-icon:hover {
    background-color: #4c84ff;
  }

  .menu-block {
    color: var(--light-background);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .menu-block ul li:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .timer-block {
    background-color: var(--dark-inner-background);
  }

  .mode-start {
    background-color: var(--dark-background);
  }

  .pause-note {
    background-color: var(--dark-inner-background);
  }
  .pause-note svg {
    fill: var(--light-background);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-background);
    color: var(--dark-background);
  }
  main {
    background-color: var(--light-background);
  }
  .message-alert__box {
    background-color: rgba(196, 196, 196, 0.4);
  }


  .timer-nav {
    background-color: var(--light-inner-background);
  }

  .timer-nav__home-icon:hover {
    background-color: #4c84ff;
  }
  .timer-nav__home-icon:hover svg {
    fill: var(--dark-background);
  }

  .timer-nav__header__span {
    color: var(--light-background);
  }

  .timer-nav__menu-icon span,
  .timer-nav__menu-icon::after,
  .timer-nav__menu-icon::before {
    background-color: var(--dark-background);
  }
  .timer-nav__menu-icon:hover {
    background-color: #4c84ff;
  }
  .timer-nav__menu-icon:hover span,
  .timer-nav__menu-icon:hover::after,
  .timer-nav__menu-icon:hover::before {
    background-color: var(--light-background);
  }

  .menu-block {
    color: var(--dark-background);
    background-color: rgba(255, 255, 255, 0.4);
  }
  .menu-block ul li:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .timer-block {
    background-color: var(--light-inner-background);
  }

  .mode-start {
    background-color: var(--light-background);
  }

  .pause-note {
    background-color: var(--light-inner-background);
  }
  .pause-note svg {
    fill: var(--dark-background);
  }
}
